# DataStructure In Python

 # Lists
 - List is like an array, heterogeneous list(different types of element are there in array)

In [51]:
mylist=[1,2,3,4]
print(type(mylist))
print(mylist)

<class 'list'>
[1, 2, 3, 4]

In [52]:
l2=list()    # running in shell

TypeError: 'list' object is not callable

# everything is running in shell, try there
l2=list()
l2=list([1,2,3])
l3=list(l2)

In [56]:
l2=[1,2,3,"hello"]
l3=[4,5,6]
l2+=l3
l2.extend(l3)
print(l2)

[1, 2, 3, 'hello', 4, 5, 6, 4, 5, 6]

In [61]:
# list of square of number from 1 to 5

l6=[i*i for i in range(1,6)]
print(l6)

[1, 4, 9, 16, 25]

# List Slicing

In [62]:
# list slicing is similar to string slicing

In [64]:
l2[0:4]

[1, 2, 3, 'hello']

In [65]:
l2[-1]

6

In [66]:
print(l2[:])

[1, 2, 3, 'hello', 4, 5, 6, 4, 5, 6]

In [67]:
print(l2[-3:])

[4, 5, 6]

In [68]:
print(l2[:5])

[1, 2, 3, 'hello', 4]

# Insertion and Deletion in a list

      - insert
      - append
      - remove
      - del
      - pop

# Append

In [91]:
l=[1,2]
l.append(3)
l.append(l)
l.append([1,2])
l+=[6]
print(l)

[1, 2, 3, [...], [1, 2], 6]

In [92]:
print(l[5])

6

In [90]:
l.remove(2)   # element wise removal
print(l)
# exception comes when the element is already removed or is not present in a list

[1, 3, [...], [1, 2], 6]

In [93]:
del l[2]   # index wise removal
print(l)

[1, 2, [...], [1, 2], 6]

In [94]:
l.pop()  # pop removes lasst element from list
print(l)

[1, 2, [...], [1, 2]]

In [95]:
 l=([1,2,3,4])
l*=4
print(l)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

# Membership in list

In [96]:
hey=["Apple","Mango","Guava",80]
80 in hey

True

# Traversing in a list

In [98]:
for i in range(len(hey)):
    print(hey[i])

Apple
Mango
Guava
80

In [99]:
for c in hey:
    print(c)

Apple
Mango
Guava
80

In [101]:
hi=[1,2,3,4]
hi.insert(2,30)
print(hi)

[1, 2, 30, 3, 4]

In [104]:
hi.insert(3,30)
print(hi)

[1, 2, 30, 30, 30, 30, 3, 4]

# More Functions On the List

In [109]:
l=[10,4,20,78,62]
print(max(l))
print(min(l))
print(len(l))
# linear search
l.index(78)

78
4
5

3

# Sorting

In [110]:
sorted(l)  # it sorts the copy of list and not the orignal list

[4, 10, 20, 62, 78]

In [111]:
print(l)

[10, 4, 20, 78, 62]

In [112]:
l=sorted(l)
print(l)

[4, 10, 20, 62, 78]

In [113]:
l=[1,5,3,8,91]
l.sort()
print(l)

[1, 3, 5, 8, 91]

In [114]:
l.sort(reverse=True)
print(l)

[91, 8, 5, 3, 1]

In [128]:
name=input("enter numbers")
numbers=name.split()
numbers=[int(number)*int(number) for number in name.split()]
print(numbers)
print(type(numbers))

enter numbers1 2 3 4 5
[1, 4, 9, 16, 25]
<class 'list'>

# Dictionary

In [129]:
# store info in key value pair
# key values are not sorted in any order
# lookup value for any key , key unique

In [130]:
d={}
print(type(d))

<class 'dict'>

In [131]:
d={"Mango":100,"Apple":160}
print(d["Mango"])

100

In [132]:
d["Guava"]=60
print(d)

{'Mango': 100, 'Apple': 160, 'Guava': 60}

In [133]:
d["Grapes"]=[10,20]
print(d)

{'Mango': 100, 'Apple': 160, 'Guava': 60, 'Grapes': [10, 20]}

In [134]:
print(d["Grapes"])

[10, 20]

In [136]:
d["PineApple"]={"small":10,"Large":100}

In [137]:
print(d["PineApple"])

{'small': 10, 'Large': 100}

In [138]:
print(d)

{'Mango': 100, 'Apple': 160, 'Guava': 60, 'Grapes': [10, 20], 'PineApple': {'small': 10, 'Large': 100}}

In [140]:
print(d["PineApple"]["small"])

10

In [141]:
print(d.keys())

dict_keys(['Mango', 'Apple', 'Guava', 'Grapes', 'PineApple'])

In [142]:
print(d.values())

dict_values([100, 160, 60, [10, 20], {'small': 10, 'Large': 100}])

# Some Common Dictionary Methods and Operators

In [149]:
print(d.get("Mango"))
print(d.get("Mangoes"))  # if we try to achieve this by earlier method , it will throw an error unlike this one 
print(type(d.get("Mangoes")))

100
None
<class 'NoneType'>

In [154]:
if "Mangoes" in d:
    print("The price of mango is %d"%(d["Mango"]))
else:
    print("doesnt exists")

doesnt exists

In [155]:
# Tuples is Basically Key value Pairs in case Of Dictionary

In [160]:
del(d["PineApple"])
l=d.items()  # items function returns tuples
print(l)

dict_items([('Mango', 100), ('Apple', 160), ('Guava', 60), ('Grapes', [10, 20])])

In [162]:
d1={"strawBerry":92}
d.update(d1)
print(d)

{'Mango': 100, 'Apple': 160, 'Guava': 60, 'Grapes': [10, 20], 'strawBerry': 92}

In [163]:
print(len(d))

5

In [167]:
d.clear()

In [168]:
print(len(d))

0

# Conversion of dictionary to lists

In [172]:
l1=["Apple","Mango","StrawBerry","Papaya"]
l2=[100,200,300,400]
p=dict(zip(l1,l2))
print(p)
print(type(p))

{'Apple': 100, 'Mango': 200, 'StrawBerry': 300, 'Papaya': 400}
<class 'dict'>

In [173]:
for k in p:
    print(k)

Apple
Mango
StrawBerry
Papaya

In [175]:
for k in p.keys():
    print(k)

Apple
Mango
StrawBerry
Papaya

In [176]:
for k in p.values():
    print(k)

100
200
300
400

# Tuples
    - hold multiple Objects
    - Comma seperated entries within ,
    - immutable

# Why use Tuples?
    - Tuples are Faster than lists
    -  Safe write Protected code
    -  Asserts Data is Constant
    -  Return multiple Values From a Function

In [177]:
t=(1,2,"Hello")
print(t)

(1, 2, 'Hello')

In [178]:
print(type(t))

<class 'tuple'>

In [179]:
print(t[0])

1

In [181]:
l=list(t)  # we can convert tuple into the list in shell by using this methos only

TypeError: 'list' object is not callable

# Concatenation of Tuples

In [182]:
t1=(1,2,3)
t2=(4,5,6)
print(t1+t2)

(1, 2, 3, 4, 5, 6)

In [183]:
print(t1*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [184]:
print(len(t1))

3

In [185]:
print(max(t1))

3

In [186]:
print(min(t1))

1

In [187]:
del t1
print(t1)

NameError: name 't1' is not defined

# Set Data Structure

In [188]:
# set stores unique elements
#  set elements are unordered

In [189]:
s=set([1,1,1,6,3,4,7,8])
print(s)

{1, 3, 4, 6, 7, 8}

In [190]:
s1={1,2,7,5,8,9}
s1.add(50)
print(s1)

{1, 2, 5, 7, 8, 9, 50}

In [191]:
s.union(s1)  # union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 50}

In [192]:
s|s1     # union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 50}

In [193]:
s & s1   # Interserction

{1, 7, 8}

In [195]:
s.intersection(s1)

{1, 7, 8}

In [197]:
s-s1   # it will remove the element of s which are in s1

{3, 4, 6}

In [198]:
s.difference(s1)

{3, 4, 6}

In [199]:
s.clear()

In [200]:
print(s)

set()

In [201]:
x=int(input("enter any no"))
if x in s1:
    print("Present")
else:
    print("Not Present")

enter any no7
Present

In [203]:
a={1,2,3,4}
b={2,3,4,5}
# it will return elements which are in one of the sets
print(a^b)

{1, 5}